html,body {
	font-size: 14px;
	line-height: 1.5;
	font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;
}
ul,li,dl,dt {
	margin: 0;
	padding: 0;
	list-style: none;
}
.post-meta {
  padding-bottom: 10px;
}
.post-list > li {
	padding-bottom: 10px;
	border-bottom: 1px dashed #ccc;
}