<!doctype html>
<html>
  <head>
    <title>{{page.title | default: 'Kenlyau Blog'}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/assets/css/colors-light.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
          <h2>
            <a href="/">Index</a>&nbsp;
            <a href="/about">About</a>
          </h2>
        </div>
      </div>
    </div>
    {{content}}
  </body>
</html>